body{
    
    background-image: url("back.jpg");
    background-position: center center;      
    background-repeat: no-repeat;      
    background-attachment: fixed;      
    background-size: cover;      
    background-color: #464646; 

    
}

.city{

    border-radius: 10px;
    padding: 10px;
    color:rgb(1, 7, 12);
    width: 50%;
    
    
}
.in{
    position: absolute; top: 150px; left: 170px;
}

.knop{
    width: 120px;
    height: 20px;
    position: absolute; top: 200px; left: 170px;
}

h1{
    position: absolute; top: 250px; left: 50px;
    color:rgb(0, 29, 66);
}